@model ImageHoster.GUI.Models.User.ManageViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id);
    
    <div class="editor-label">
        @Html.LabelFor(model => model.OldPassword)
    </div>
    <div class="editor-field input-control password size4">
        @Html.EditorFor(model => model.OldPassword)
        <span class="fg-red">@Html.ValidationMessageFor(model => model.OldPassword)</span>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.NewPassword)
    </div>
    <div class="editor-field input-control password size4">
        @Html.EditorFor(model => model.NewPassword)
        <span class="fg-red">@Html.ValidationMessageFor(model => model.NewPassword)</span>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field input-control text size4">
        @Html.EditorFor(model => model.FirstName)
        <span class="fg-red">@Html.ValidationMessageFor(model => model.FirstName)</span>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field input-control text size4">
        @Html.EditorFor(model => model.LastName)
        <span class="fg-red">@Html.ValidationMessageFor(model => model.LastName)</span>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Sex)
    </div>
    <div class="editor-field input-control select size2">
        @Html.DropDownListFor(model => model.Sex, new List<SelectListItem>() { new SelectListItem() { Text = "Man", Value = "Man", Selected = true }, new SelectListItem() { Text = "Woman", Value = "Woman" } })
        <span class="fg-red">@Html.ValidationMessageFor(model => model.Sex)</span>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.About)
    </div>
    <div class="editor-field input-control textarea size4">
        @Html.TextAreaFor(model => model.About)
        <span class="fg-red">@Html.ValidationMessageFor(model => model.About)</span>
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}
